@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("../font/noto_sherif/NotoSerif-VariableFont_wdth\,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url("../font/noto_sherif/NotoSerif-Italic-VariableFont_wdth\,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../font/roboto/Roboto-VariableFont_wdth,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("../font/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
        format("truetype");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../font/roboto/RobotoCondensed-VariableFont_wght.ttf")
        format("truetype");
}

@theme {
    --font-sans: "Roboto Condensed", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-noto: "Noto Serif", "Time New Romans";

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-semi: var(--semi);
    --color-light: var(--light);
    --color-contras: var(--contras);
    --color-contras2: var(--contras2);
    --color-putih: var(--putih);
    --color-hitam: var(--hitam);
    --color-panel: var(--panel);
}

:root {
    --primary: #205072;
    --secondary: #329d9c;
    --semi: #73c09c;
    --light: #cedfdf;
    --contras: #f7ad97;
    --contras2: #f5907b;
    --putih: #dfe9e9;
    --hitam: #000000;
    --panel: #68b8b6;
}
